@charset "UTF-8";
@font-face {
    font-family: "UbuntuMonoR";
    src: url("../fonts/UbuntuMono-R.ttf");
}

.ubuntu {
    font-family: "UbuntuMonoR";
}

html {
    height: 100%;
}

body {
    font-weight: 300;
    min-height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
}

.wuiForm{
    margin-top: 12%;
    width: 100%;
}

.maincol-form {
    width: 50%;
    margin-left: 10%;
}

.form-row {
    margin-left: 10%;
    height: 80%;
}

.maincol-terminal {
    width: 40%;
}

.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
    text-align: left;
    width: 80%;
    margin-left: 5%;
    justify-content: space-around;
}
.terminal .top {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
.terminal .btns {
    position: absolute;
    top: 7px;
    left: 5px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.terminal .title{
    text-align: center;
}
.terminal .red { background: #EC6A5F; border-color: #D04E42; }
.terminal .green { background: #64CC57; border-color: #4EA73B; }
.terminal .yellow { background: #F5C04F; border-color: #D6A13D; }
.terminal .clear {clear: both;}
.terminal .CodeArea {
    /*background: #3c3836;*/
    background: #495057;
    /*color: #7AFB4C; green*/
    color: #fff ;
    padding: 4px;
    overflow: auto;
    text-align: left;
    font-family: "UbuntuMonoR";
}

.terminal .space {
    margin: 25px;
}
.terminal .shadow { box-shadow: 0px 0px 10px rgba(0,0,0,.4)}

.DownloadButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 2px 15px;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 40px;
}

/* Darker background on mouse-over */
.DownloadButton:hover {
    background-color: RoyalBlue;
}

.DownloadButton .shadow { box-shadow: 0px 0px 10px rgba(0,0,0,.4)}

.CopyButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 2px 15px;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 40px;
}

/* Darker background on mouse-over */
.CopyButton:hover {
    background-color: RoyalBlue;
}

.CopyButton .shadow { box-shadow: 0px 0px 10px rgba(0,0,0,.4)}

.QuestionMark {
    color: DodgerBlue;
    cursor: pointer;
}

.QuestionMark:hover {
    color: RoyalBlue;
}

/*stepping form*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}

.setup-content {
    height: 100%;
}

.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
