{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}

        <link type="text/css" rel="stylesheet" href="{% static "wui/css/FormPage.css" %}">
        <script src="script.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="IQHfZp260NXL2Jltw0rqtKZ4WPEAjsIIUCotq9LIpCSokZOAgsaCOphs6GfLsUYx">
            <div class="row form-row">
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_softwarePath" class="form-group">
                        <label for="id_softwarePath" class="col-form-label "> Software path </label>
                        <div class="">
                            <input type="text" name="softwarePath" class="textinput textInput form-control" id="softwarePath">
                        </div>
                    </div>
                </div>
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_pipeline_name" class="form-group">
                        <label for="id_pipeline_name" class="col-form-label "> Pipeline name </label>
                        <div class="">
                            <input type="text" name="pipelineName" class="textinput textInput form-control" id="pipelineName"> </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_input_filename" class="form-group">
                        <label for="id_input_filename" class="col-form-label  requiredField"> Input file name <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="infileName" class="textinput textInput form-control" required id="infileName">
                        </div>
                    </div>
                </div>
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_input_filetype" class="form-group">
                        <label for="infileType" class="col-form-label requiredField"> Input file type <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="infileType" class="select form-control" id="infileType">
                                <option value="BAM">BAM</option>
                                <option value="CRAM">CRAM</option>
                                <option value="mpileup">mpileup</option>
                                <option value="VCF">VCF</option>
                                <option value="BCF">BCF</option>
                                <option value="GLF">GLF</option>
                                <option value="beagle">beagle</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="codeBlock" class="col">
        <label for="codeBlock" class="col-form-label"> Your pipeline: </label>
        <pre>
          <code>
#!/bin/bash
# Pipeline created by ANGSDgui
          </code>
        </pre>
    </div>
</div>
{% endblock %}
