{% extends 'base.html' %}
{% load static from staticfiles %}
{% block FormScripts %}

<link type="text/css" rel="stylesheet" href="{% static "wui/css/FormPage.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="{% static "wui/js/FormScript.js" %}"></script>
<script type="text/javascript" src="{% static "wui/js/download.js" %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="IQHfZp260NXL2Jltw0rqtKZ4WPEAjsIIUCotq9LIpCSokZOAgsaCOphs6GfLsUYx">
            <div class="row form-row">
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_softwarePath" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="Software Path" data-content="Output of command 'which angsd'.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="softwarePath" class="col-form-label "> Software path</label>
                        <div class="">
                            <input type="text" name="softwarePath" class="textinput textInput form-control" id="softwarePath" onkeyup="rewriteCode();">
                        </div>
                    </div>
                </div>
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_pipeline_name" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="Pipeline Name" data-content="Desired name of your pipeline without '.sh' extension. If empty, pipeline will be called as 'ANGSDgui_pipeline'.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="pipelineName" class="col-form-label "> Pipeline name </label>
                        <div class="">
                            <input type="text" name="pipelineName" class="textinput textInput form-control" id="pipelineName" onkeyup="rewriteCode();"> </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_input_filetype" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="File Type of Input File" data-content="For more information about supported file types, please see <a href='http://www.popgen.dk/angsd/index.php/Input' target='_blank'>Input page on ANGSD wiki</a>.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="infileType" class="col-form-label requiredField"> Input file type <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="infileType" class="select form-control" id="infileType">
                                <option value="BAM">BAM</option>
                                <option value="CRAM">CRAM</option>
                                <option value="mpileup">mpileup</option>
                                <option value="VCF">VCF</option>
                                <option value="BCF">BCF</option>
                                <option value="GLF">GLF</option>
                                <option value="beagle">beagle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="formColumn form-group col-md-6 mb-0">
                    <div id="div_id_input_filename" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="File Name of Input File" data-content="Name of the file to be used in the analyses. Including extensions if any.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="infileName" class="col-form-label  requiredField"> Input file name <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="infileName" class="textinput textInput form-control" required id="infileName" onkeyup="rewriteCode();">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col ubuntu">
        <div class="terminal shadow">
            <div class="top">
                <div class="btns">
                    <span class="circle red"></span>
                    <span class="circle yellow"></span>
                    <span class="circle green"></span>
                </div>
                <div class="title">
                    Pipeline
                    <b id="yourPipelineName"></b>
                    :
                </div>
            </div>
            <pre class="body ubuntu">
<b id="code"></b>
            </pre>
        </div>
        <button class="DownloadButton" onclick="Download()" id="downloadButton" data-toggle="tooltip" title="Download pipeline"><i class="fa fa-download"></i></button>
        <button class="CopyButton" data-clipboard-action="copy" data-clipboard-target="#code" data-toggle="tooltip" title="Copy to clipboard"><i class="fa fa-clipboard" alt="Copied to clipboard"></i></button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
{% endblock %}
