{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<form id="wuiForm" class="wuiForm needs-validation" role="form" action="">
    <div class="stepwizard steps-col">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-1">
        <div class="maincol-form">
            <div class="row form-row">
                <div class="formColumn">
                    <div id="div_id_pipeline_name" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="Pipeline Name" data-content="Desired name of your pipeline without '.sh' extension. If empty, pipeline will be called as 'ANGSDgui_pipeline'.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="pipelineName" class="col-form-label form-control-label"> Pipeline name </label>
                        <input type="text" name="pipelineName" class="textinput textInput form-control" id="pipelineName" onkeyup="rewriteCode();"> 
                    </div>
                </div>
                <div class="formColumn">
                    <div id="div_id_analysis" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="Analysis" data-content="Select one of the possible analyses to perform.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="analysis" class="col-form-label requiredField form-control-label"> Analysis <span class="asteriskField">*</span>
                        </label>
                        <select name="analysis" class="select form-control" id="analysis" required="required">
                            <option value=""> </option>
                            <option value="1">SFS</option>
                            <option value="2">Calculate thetas</option>
                            <option value="3">Do neutrality test statistics</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="maincol-terminal ubuntu">
            <div class="terminal shadow">
                <div class="top">
                    <div class="btns">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle green"></span>
                    </div>
                    <div class="title">
                        Pipeline
                        <b id="yourPipelineName1"></b>
                        :
                    </div>
                </div>
                <pre class="CodeArea">
<b id="code1"></b>
                </pre>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="maincol-form">
            <div class="row form-row">
                <div class="formColumn form-group">
                    <div id="div_id_input_filetype" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="File Type of Input File" data-content="For more information about supported file types, see <a href='http://www.popgen.dk/angsd/index.php/Input' target='_blank'>Input page on ANGSD wiki</a>.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="infileType" class="col-form-label requiredField"> Input file type <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="infileType" class="select form-control" id="infileType" required="required">
                                <option value=""> </option>
                                <option value="BAM">BAM</option>
                                <option value="CRAM">CRAM</option>
                                <option value="mpileup">mpileup</option>
                                <option value="VCF">VCF</option>
                                <option value="BCF">BCF</option>
                                <option value="GLF">GLF</option>
                                <option value="beagle">beagle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="formColumn form-group">
                    <div id="div_id_input_filename" class="form-group">
                        <a href="#" data-toggle="popover" data-trigger="focus" title="File Name of Input File" data-content="Name of the file to be used in the analysis. Including extensions if any.">
                            <i class="QuestionMark fa fa-question-circle"></i>
                        </a>
                        <label for="infileName" class="col-form-label requiredField form-control-label"> Input file name <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="infileName" class="textinput textInput form-control" required="required" id="infileName" onkeyup="rewriteCode();">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previous</button>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="maincol-terminal ubuntu">
            <div class="terminal shadow">
                <div class="top">
                    <div class="btns">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle green"></span>
                    </div>
                    <div class="title">
                        Pipeline
                        <b id="yourPipelineName2"></b>
                        :
                    </div>
                </div>
                <pre class="CodeArea">
<b id="code2"></b>
                </pre>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="maincol-form">
            <button type="button" onclick="Download()" class="DownloadButton" id="DownloadButton" data-toggle="tooltip" title="Download pipeline"><i class="fa fa-download"></i></button>
            <button type="button" class="CopyButton" id="CopyButton" data-clipboard-action="copy" data-clipboard-target="#code3" data-toggle="tooltip" title="Copy to clipboard"><i class="fa fa-clipboard" alt="Copied to clipboard"></i></button>
        </div>
        <div class="maincol-terminal ubuntu">
            <div class="terminal shadow">
                <div class="top">
                    <div class="btns">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle green"></span>
                    </div>
                    <div class="title">
                        Pipeline
                        <b id="yourPipelineName3"></b>
                        :
                    </div>
                </div>
                <pre class="CodeArea">
<b id="code3"></b>
                </pre>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block PageScripts %}

<link type="text/css" rel="stylesheet" href="{% static "wui/css/FormPage.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="{% static "wui/js/FormScript.js" %}"></script>
<script type="text/javascript" src="{% static "wui/js/download.js" %}"></script>
<script type="text/javascript" src="{% static "wui/js/clipboard.js" %}"></script>

{% endblock %}
